<div class='create-article-main'>
    <button (click)="publish()" id="send-button" class='button button1'>Publish</button>
    <p>
        Article title: <input (keyup)="onTitleChange($event)" type="text" maxlength="30" />
        <br>
        Should be public: <input type="checkbox" (change)="onPublicChange($event)"/>
    </p>
    <div #editor class="pell"></div>
    <div>
        Output HTML:
        <pre class="outputHtmlArea">
        {{output}}
        </pre>
    </div>
</div>