<div [style.height]="height">
    <ul>      
      <li *ngFor="let article of articles"
      (click)="onSelect(article)">
        <listed-article
        [element]="article"></listed-article>
      </li>
    </ul>
  
</div>