ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
    overflow-y:scroll; 
    width: 100%;
    height: 100%;
}

ul li{
        padding: 5px;        
        border-style: solid none none  none;
        border-width: 1px;
        border-color: rgb(192, 185, 176);
        width: auto;
        height: auto;
}

ul li:first-child{
    border-style: none none none  none;
}

listed-article {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:host{
    display: block;    
    width: 100%;
    height: 100%;
}