.wrapper{    
    padding: 5px;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto auto;

    /*Unclickable*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.wrapper:hover{
    box-shadow: 2px 5px 5px #88888896;
    transition: box-shadow 200ms ease-in-out;
}

.wrapper .header{
    min-width: 200px;
    border-style: solid;
    border-width: 0px;
    display: block;
    border-radius: 0px;
    grid-column: 0;
    margin-top: 5px;
    margin-bottom:auto;    
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.header .author-circle{    
    width: 50px;
    line-height: 50px;
    height: 50px;    
    vertical-align: middle;
    text-overflow: ellipsis;    
    text-align: center;
    overflow: hidden;    
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;      
    border-style: none;    
    box-shadow: 2px 5px 5px   rgb(126, 126, 126);
}
.header .author-circle img{
    width: 50px;
    height: 50px;    
}

.wrapper .author-badge{
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: black;
    background-color: white;
    width: 50px;
    height: 11px;
    text-overflow: ellipsis;    
    text-align: center;
    overflow: hidden;    
    font-size: 10px;
    font-weight: bold;
    margin-top: -10px;    
    margin-left: 0px;
    display: block;
    position: relative;
    color: rgb(13, 13, 43);    
    grid-column: 1;
    grid-row: 2;
}

.header .title{
    margin-left: 10px;
    letter-spacing: 3px;
    display: inline-block;    
}

.wrapper  .content{
    grid-column: 2;    
    grid-row:1;   
    font-size: 14px;
    padding-left: 1em;
    padding-top: 1em;
}


.wrapper .image{
    grid-column: 1;    
    grid-row: 2;
    margin-top: 15px;
}

.additional{
    display: inline-block;
    grid-column: 3;
    grid-row: 1 /span 2;
    margin-left: auto;
    margin-right: 0px;    
    font-size: 10px;
}

.additional table{
    width: 100%;height: 100%;
}
.additional .articleId{    
    color: darkgray;
    font-size: 8px;    
}

.additional .createDate{    
    display: inline-block;    
    color: black;    
    font-size: 10px;    
}