<div class="wrapper">
  <div class="header">
    <div class="author-circle">
      <img src="https://www.gravatar.com/avatar/{{hash}}?d=https://image.flaticon.com/icons/png/512/149/149071.png" alt="{{element.author}}?s=50">
    </div>
    <div class="title">
      {{element.title}}
    </div>
    <span class="author-badge">{{element.author}}</span>
  </div>
  <div class="content">
    {{element.brief}}
  </div>
  <div class="additional">
    <table>
  
      <tr>        
        <td>
          <div class="createDate">
            {{element.created}}
          </div>
        </td>
      </tr>    
      <tr>        
        <td><span class="articleId">
            {{element.articleId}}
          </span> </td>
      </tr>
    </table>
  </div>
  <div class="image">
  </div>
</div>