<template>

<div>  
    <article-details v-bind:id-article='articleId'></article-details>  
</div>

</template>
<script>
export default {
  name: "ArticleDetailsComponent",
  // props: {
  //   articleId: String
  // },
  data() {
    return {
      articleId : this.$route.params.articleId
    };
  }
};
</script>

<style scoped>
.article-in-enter-active {
  animation: bounce-in 5.5s;
}

.article-in-leave-active {
  animation: bounce-in 0.5s reverse;
}
</style>



