<template>
      <article-list></article-list>
</template>

<script>
export default {
  name: "ArticleListComponent",
  props: { 
  },
  data() {
    return {
      names: this.msg + " <- but this is from data()"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
