<template>
    <create-article></create-article>
</template>

<script>
export default {
  name: "CreateArticleComponent",
  props: { 
  },
  data() {
    return {
      names: this.msg + " <- but this is from data()"
    };
  }
};
</script>