<div class='article-details-main'>
  <div class='title-container'>
    <span class='article-title'>{{article.title}}</span>
  </div>
  <button (click)="onEdit()" *ngIf="canEdit == true" class="edit-btn">EDIT ARTICLE</button>
  <div class='pre-section'>
    <div id='author'>
      <img
      height="80px" 
      style="display:inline-block"
      src="https://www.gravatar.com/avatar/{{hash}}?d=https://image.flaticon.com/icons/png/512/149/149071.png"
      alt="{{article.author}}" />
      <span> {{article.author}}</span>
    </div>
    <div id='dates'>
      <ul>
        <li id='createdDate' *ngIf="article.created != ''">
          {{article.created}}
        </li>        
        <li id='updatedDate' *ngIf="article.updated != ''">
          {{article.updated}}
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div [innerHTML]="article.text"></div>
  </div>
</div>