.article-details-main{
    background: whitesmoke;
    min-height: 50%;    
}
/* TITLE */
.article-title{
    font-size: 3em;
    text-align: center;
    letter-spacing: 3px;
}
.article-title::after{
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  background: gainsboro;
  width: 80%;
  left: 10%;
  top : 100%;
}

.title-container{
    text-align: center;
    padding : 2em;
    border-style: none none dashed none;
    border-width: 1px;
    border-color: rgb(192, 185, 176);
    position: relative;
}
/* PRE-HEADER */
.pre-section{
    margin: 10px;
    height: 80px;
    background : gainsboro;
    display : grid;
    position: relative;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 50px;
}

.edit-btn{
    position: relative;    
    margin-left: 90%;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    padding: 5px;
}

.pre-section #dates{   
   padding: 10px 10px 0 0;
   grid-column-start: 3;
}

#dates ul{
    list-style: none;
    padding: 0;
    margin: 0;    
    float: right;
    font-size: 10px;
}

#createdDate::before{
    content: "";
    display: inline-block;
    background: url("/src/articles-assets/icons/created.png") no-repeat;
    background-size: 3em 3em;
    width: 3em;
    height: 3em;
    margin: 0 6px 0 0;
    vertical-align: middle;
}

#updatedDate::before{
    content: "";
    display: inline-block;
    background: url("/src/articles-assets/icons/updated.png") no-repeat;
    background-size: 3em 3em;
    width: 3em;
    height: 3em;    
    margin: 0 6px 0 0;
    vertical-align: middle;
}


#author{    
    grid-column: 1;
    margin : 10px;  
}
#author span{
    position: absolute;
    top:50%;
    left: 100px;
}

#author img{
    border-radius: 50%;
}
/* BODY | CONTENT */
.content {
    padding: 2em;
    line-height: 1.2em;
    font-size: 20px;
}

/* FOOTER */

/* ADDITIONALS */
:host{
    display: block;    
    width: 100%;
    height: 100%;
}