<div class='edit-article-main'>
        <button (click)="publish()" id="send-button" class='button button1'>Edit</button>
        <button (click)="delete()" id="delete-button" class='button2'>Delete</button>
        <p>
        Article title: <input #titleInput (keyup)="onTitleChange($event)" type="text" maxlength="30" />
        <br>
        Should be public: <input type="checkbox" [checked]="isPublic" (change)="onPublicChange($event)"/>
    </p>
    <div #editor class="pell"></div>
    <div>
        Output HTML:
        <pre class="outputHtmlArea">
        {{output}}
        </pre>
    </div>
</div>