<template>
  <div id="app">
    <Navigation :key="$route.fullPath"></Navigation>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import ArticleList from "./components/management/ArticleList";
import CreateArticle from "./components/management/CreateArticle";
import ArticleDetails from "./components/management/ArticleDetails";
import ArticleEdit from "./components/management/ArticleEdit";
import Navigation from "./components/self/Navigation";

export default {
  name: "app",
  components: {
    ArticleList,
    CreateArticle,
    Navigation,
    ArticleDetails,
    ArticleEdit
  }
};
</script>

<style>
.pell-content {
  box-sizing: border-box;
  min-height: 400px;
  outline: 0;
  overflow-y: auto;
  padding: 10px;
}

.pell-actionbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.pell-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  vertical-align: bottom;
}

.pell-button-selected {
  background-color: #f0f0f0;
}

.navbar {
  margin-bottom: 30px;
}
</style>
