<template>
  <div>
    <div class="alert alert-warning" v-if="showModal">
      Wrong username or password!
    </div>
    <div class="jumbotron">
      <div class="col s12 m8 offset-m2">
        <div>
          <h3>Login</h3>
          <form action="index.html">
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" v-model="email" placeholder="email">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password" placeholder="password">
            </div>
            <button v-on:click="login" class="btn btn-large btn-success">Login</button>
          </form>
        </div>
      </div>    
    </div>
  </div>
</template>

<script>
import * as usersService from "../../services/usersService.js";
import * as authSrv  from "../../services/authorizationService.js";

export default {
  name: "login",
  data: function() {
    return {
      showModal: false,
      email: "",
      password: ""
    };
  },
  methods: {
    login: function(e) {
      e.preventDefault();
      var response = JSON.parse(
        usersService.loginWithEmailAndPassword(this.email, this.password)
      );
      if (response.fault === undefined) {
        this.showModal = false;        
        authSrv.authorize(response);
        this.$router.push('/');
      } else {
        this.showModal = true;
      }
    }
  }
};
</script>

<style>
.material-icons {
  vertical-align: sub;
}

.input-field {
  margin: 5px;
}
</style>