<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <router-link class="navbar-brand" to="/">Stenografisto</router-link>
      <ul class="navbar-nav mr-auto">
        <router-link class="nav-link" to='/create' v-if="isLoggedIn">Create</router-link>
      </ul>
    </div>
    <div class="mx-auto order-0 navbar-brand" v-if="currentUser">
      Hello {{currentUser}} !
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link class="nav-link" to='/login' v-if="!isLoggedIn" >Login</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to='/register' v-if="!isLoggedIn">Sign up</router-link>
        </li>
      </ul>
      <button type="button" class="btn btn-secondary" v-on:click="logout" v-if="isLoggedIn">LOGOUT</button>
    </div>
  </nav>
</template>


<script>
import * as authSrv  from "../../services/authorizationService.js";

  export default {
    name: "Navigation",
    props: {},
    data() {
      return {
        isLoggedIn: false,
        currentUser: false
      };
    },
    created(){
      if(authSrv.readToken()){
        this.isLoggedIn = true;
        this.currentUser = authSrv.readUserData().firstName;        
      }
    },
    methods: {      
      logout: function() {
        // authSrv.logout();
window.EventBus.dispatch('unauthorized');      }
    }
  };
</script>
