<template>
  <div>
    <div class="alert alert-warning" v-if="error != undefined">
      <strong>{{error.type}}</strong>
      {{error.message}}
    </div>
    <div class="jumbotron">
      <div class="col s12 m8 offset-m2">
        <div>
          <h3>Register</h3>
          <form action="index.html">
            <div class="input-field">
              <i class="material-icons prefix">face</i>
              <input type="text" v-model="firstname" placeholder="first name">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">accessibility</i>
              <input type="text" v-model="lastname" placeholder="last name">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" v-model="email" placeholder="email">
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password" placeholder="password">
            </div>
            <button v-on:click="register" class="btn btn-large btn-success">Register</button>
          </form>
        </div>
      </div>
    </div>
  
  </div>
</template>

<script>
import * as usersService from "../../services/usersService.js";
import { error } from "util";

export default {
  name: "register",
  data: function() {
    return {
      firstname: "",
      lastname: "",
      email: "",
      password: "",
      error: undefined
    };
  },
  methods: {
    register: function(e) {
      e.preventDefault();

      if (!(this.firstname && this.lastname && this.password && this.email)) {
        this.error = {
          type: "VALIDATION",
          message: "All fields below are required."
        };
      } else {
        this.error = undefined;
        var data = {
          firstName: this.firstname,
          lastName: this.lastname,
          password: this.password,
          email: this.email
        };
        
        var response = usersService.registerUser(data);

        if (response.isSuccessfull) {
          this.$router.push("/login");
          return;
        }

        var rawError = JSON.parse(response.response);
        this.error = {type: rawError.fault, message:rawError.validationErrors[0].message}
      }
    }
  }
};
</script>

<style>
.material-icons {
  vertical-align: sub;
}

.input-field {
  margin: 5px;
}
</style>